<aside class="sidebar-right" id="sidebarRight">
    <div class="profile-section">
        <div class="profile-avatar-small">
            <img src="{{ url_for('static', filename='images/default_avatar.png') }}" alt="프로필">
        </div>
    </div>
    
    <div class="quick-links">
        <h4>자주 찾는 사이트</h4>
        <div class="link-list" id="quickLinkList">
            </div>

        {% if session.student_id %}
        <a href="javascript:void(0);" class="quick-link quick-link-add" id="addLinkBtn">
            <i class="fas fa-plus"></i>
            <span class="link-text">추가하기</span>
        </a>
        {% endif %}
    </div>
    <button id="rightSidebarToggle">
        <i class="fas fa-chevron-left"></i>
    </button>
</aside>